article > div { float : left; width : 48%; }
article > div > img{ max-width : 100%; height : auto;}
select { margin-left : 0px; width : 90%; height : 30px; display : table; margin-left : auto; margin-right : auto;}
strike { color : gray; margin-left : 10px; font-size : 15px;}
hr { clear : left; background-color : rgb(255, 0, 0);}
h1 { height : 30px; top : 50%;}

#item_image { margin : 10px;}
#item_info { background-color : white; margin-top : 3%;}
#item_detail > li { text-align : left; margin-left : 3%; margin-right : 3%; clear : left; width : 94%; padding : 5px; font-size : 20px;}
#item_detail > li > span { float : right; margin-right : 10px; font-size : 13px;}
#pick { width : 10%; height : 50px; background-color : white; clear : left;}
#cart { width : 45%; height : 50px; background-color : yellow;}
#buy { width : 45%; height : 50px; background-color : yellowgreen;}

.path { display : block; padding : 3px 0; width : 100%; right : 10px; text-align : right; color : grey; }
.button { float : left; max-width : 100%; height : auto; line-height : 50px;}
.button > a { display : block;}
.select_box { width : 100%;}
.select_box > div { float : left; width : 24.6%; font-size : 20px; height : 60px; line-height : 60px;}
.on { border : solid 1px black; border-bottom : none;}
.off { border : solid 1px grey; border-bottom : solid 1px black;}
.tab_content { width : 100%; display : none;}
.tab_content.current { display : inherit; }